body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  grid-auto-flow: column;
}

#item1 {
  /* background-color: lime; */
  grid-column: auto;
}

#item2 {
  /* background-color: yellow; */
  grid-column: auto;
}

#item3 {
  grid-column: auto;
}

#item4 {
  background-color: pink;
  grid-column: auto;
}

.requirement_view {
  padding-top: 10px;
}
